<div style="margin: auto; width: 70%; border: 3px solid; padding: 10px;">
    <select [(ngModel)]='PlayerSelected' (ngModelChange)='onPlayerSelected($event)'>
        <option *ngFor="let percentile of percentiles" [value]="percentile.id">
            {{percentile.player}}
        </option>
    </select>
</div>

<div style="margin: auto; width: 70%; border: 3px solid; padding: 10px;">
    Player ID: {{PlayerSelected}} 
    <canvas id="canvas" style="width: 60%; margin: auto;">{{chart}}</canvas>
</div>



