<mat-card>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search player</mat-label>
            <input type="text" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.player" (onSelectionChange)="onPlayerSelected(option.id)">
                    {{option.player}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <canvas id="canvas" style="width: 70%; margin: auto;">{{chart}}</canvas>
</mat-card>